/* For the Head of the header */
.head{
     background-color: blue;
     max-height: 90px;
     padding: 0;
     margin-top: 0;
}

.head .icon {
  margin-left: 10px;
}


.head ul{
     align-items: center;
     display: flex;
     margin: 1px;
     padding: 1px;
     float: left;
     justify-content: space-between;
}

.head .png{
     padding: 10px;
}
.head a{
 float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


/* Navbar CSS */
.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}
.navbar{
     width: 100%;
     float: left;
}
.navbar ul{
     align-items: center;
     display: flex;
     margin: 1px;
     padding: 1px;
}
.navbar li{
}
.navbar a {
  color: black;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: white;
  background-color: blue;
}
.logo h1{
     font-size: 35px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: 900;
     padding-left: 20px;
     color: black;
}
.logo span{
     font-size: 17px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: 900;
     padding-left: 10px;
     color: black;

}